{% extends 'base.html' %}

{% block content %}
<h1>{{ thread.name }}</h1>
<p>{{ thread.description }}</p>

<h2>Посты</h2>
<a href="{% url 'post_create' thread.id %}" class="btn btn-success">Добавить пост</a>

<ul class="list-group mt-3">
    {% for post in posts %}
        <li class="list-group-item">
            <strong>{{ post.title }}</strong> - {{ post.author }}
            <p>{{ post.description }}</p>
            <a href="{% url 'post_delete' post.id %}" class="btn btn-danger btn-sm float-end">Удалить</a>
        </li>
    {% empty %}
        <p>Нет постов</p>
    {% endfor %}
</ul>

{% endblock %}

