<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список книг</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'book/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Список книг</h1>
        <ul>
            {% for book in books %}
                <li>
                    <a href="{% url 'book:book-detail-page' book.id %}">{{ book.title }}</a> - {{ book.author }}
                </li>
            {% empty %}
                <p>Книг пока нет.</p>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
