<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Детали книги - {{ book.title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'book/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="book-detail">
            <h2>{{ book.title }}</h2>
            <p><strong>Автор:</strong> {{ book.author }}</p>
            <p><strong>Год публикации:</strong> {{ book.publication_year }}</p>
            <p><strong>Описание:</strong> {{ book.description }}</p>
            <a href="{% url 'book:book-list-page' %}">Вернуться к списку книг</a>
        </div>
    </div>
</body>
</html>
